@import '_font';
@import '_value';
@import '_mixin';

* {
    font-size: 10px;
    font-family: $family;
    vertical-align: middle;
}


/*--------------Top Header------------------*/
#pre-header {
    background-color: $black_2;
    color: $topheader-grey;
    padding: 0 $desktop-padding;

    @include mediaWidth($ipad) {
        @include displayNone();
    }

    #pre-header-core {
        max-width: 100%;
    }
}
.top-header {
    width: 100%;
    @include displayflex();
    padding: 10px 0;

    a,i {
        font-size: $h14;
        line-height: $h16;
        color: $topheader-grey;

        &:hover {
            color: #cfd2d6;
        }
    }
}

.social-icons-gp {
    @include fontSize($h14);
    @include flexBasis(50%);
    color: $topheader-grey;
    text-align: left;

    a {
        margin-right: 10px;
    }
}

.page-link-gp {
    @include fontSize($h14);
    @include flexBasis(50%);
    color: $topheader-grey;
    text-align: right;

    a {
        margin-left: 10px;
    }
}


/*--------------Header------------------*/
//Header
#header-core {
    padding: 0 $desktop-padding;

    @include mediaWidth($ipad) {
        padding: 0 $mobile-padding;
    }
}


/*--------------Menu------------------*/
//Brand logo
#logo {
    margin: 15px auto 0;
    height: 100%;

    @include mediaWidth($ipad) {
        padding: 10px 15px 10px 0;
        margin: 10px auto;
    }

    img {
        max-height: 45px;
    }
} 

.menu {
    position: relative;
}

.menu-main {
    border: 0;
}

.menu-item {
    @include fontSize($h16);
    color: $black;
    background-color: #fff;

    & .current {
        color: #fff;
        background-color: $blue;
    }
}
 
#header .header-links > ul > li a {
    padding: 30px 20px;
    @include fontSize($h16);
    font-weight: 500;
    color: $black;
    background-color: #fff;
}

.current_page_item, .current-menu-item {
    a {
        background-color: $blue !important;
        color: #fff !important;

        span {
            color: #fff !important;
        }

        &:after {
            color: #fff !important;
        }
    }
}



/*--------------Page title------------------*/
h1 {
    @include fontSize($h36);
    color: $black !important;
    text-transform: capitalize !important;

    @include mediaWidth($ipad) {
        text-align: center;
    }
}

//Custom title
.wct-title {
    color: $black !important;
}

.section-title {
    margin-bottom: 10px !important;

    h2,  h3 {
        @include fontSize($h36);
        color: $black !important;

        @include mediaWidth($ipad) {
            @include fontSize($h24);
            text-align: center;
        }
    }
}

.sidebar-title {
    margin-bottom: 10px !important;
    color: $black !important;

    h3 {
        @include fontSize($h22);
        color: $black !important;
    }
}




/*--------------Counter Tool------------------*/
//Counter KPI table
.wct-results {
    margin: 0 !important;
}

.counter-info-block {
    padding: 15px 20px;
    background-color: #fff;
    border: 1px solid $grey-light;
    border-bottom: 0;

    .counter-table {
        margin: 0;
        border-spacing: 10px;
        border-collapse: separate;
        @include displayflex();
        flex-wrap: wrap;

        >div {
            text-align: center;
            @include flexBasis(20%);

            @include mediaWidth($ipad) {
                @include flexBasis(50%);
                padding: 5px;
            }

            &:nth-of-type(1) {
                @include mediaWidth($ipad) {
                    order: 1;
                }
            }

            &:nth-of-type(2) {
                @include mediaWidth($ipad) {
                    order: 3;
                }
            }

            &:nth-of-type(3) {
                @include mediaWidth($ipad) {
                    order: 4;
                }
            }

            &:nth-of-type(4) {
                @include mediaWidth($ipad) {
                    order: 2;
                }
            }

            &:nth-of-type(5) {
                @include mediaWidth($ipad) {
                    order: 5;
                }
            }
        }
    }

    .counter-field {
        @include fontSize($h14);
        font-weight: 500;
        margin: 0;
    }
    
    .counter-data {
        @include fontSize($h24);
        font-weight: 500;
        margin: 5px auto;
        border: 1px solid #e7e7e7;
        width: 135px;
        padding: 10px 5px !important;

        @include mediaWidth($ipad) {
            width: 100%;
        }
    }
}


//Counter wrapper
.word-counter-wrapper {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $grey-light;
}

.word-editor-wrapper {
    background-color: $grey-light;

    //Button wrapper
    .wct-btns-wrapper {
        padding: 10px 15px;
        
        @include mediaWidth($ipad) {
            text-align: center;
        }

        .button-gp {
            display: inline-block;
    
            > button {
                @include fontSize($h14);
                color: $black;
                text-transform: capitalize;
                border-radius: 5px;
                background-image: linear-gradient(#fff, #dddddd);
                box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
                vertical-align: middle;
    
                &:hover {
                    box-shadow: 0px 1px 1px rgba(0,0,0,0.05);
                }

                >img {
                    width: auto;
                    height: 20px;
                    margin-top: -3px;
                }
            }
        }

    }

    //Rich editor 
    .rich-editor-block {
        padding: 10px 15px;

        >textarea {
            background-color: #fff;
            border-radius: 5px;
            border: 1px solid #ccc;
            padding: 20px 15px;
            @include fontSize($h14);
            color: $black;
        }
    }
}

//Score wrapper
.score-section {
    margin-bottom: 25px;
}

.wct-scores {
    .score-wrapper {
        @include displayflex();
        padding: 10px 0;

        .score-field {
            @include fontSize($h15);
            font-weight: 700;
            @include flexBasis(auto);
            margin-right: 15px;
        }

        .score-value {
            @include fontSize($h15);
            font-weight: 500;
            color: #ccc;
            border-bottom: 1px solid #ccc;
            @include flexBasis(auto);
            flex-grow: 1;
            text-align: right;
        }
    }
}

.wct-wppo {
    margin-bottom: 5px !important;
}

.converter-wrapper {
    @include displayflex();
    flex-wrap: wrap;
    background-color: $grey-light;

    @include mediaWidth($ipad) {
        margin: 0 !important;
    }

    .converter-block {
        @include flexBasis(25%);
        padding: 5px 10px;

        @include mediaWidth($ipad) {
            @include flexBasis(50%);
        }

        label {
            display: block;
            @include fontSize($h15);
            font-weight: 500;
            color: $black;
            margin-bottom: 10px;
        }

        input, select {
            border: 1px solid $grey-normal;
            background: #fff;
            @include fontSize($h14);
            width: 100%;
        }
    }
}

.wct-wpp {
    #totalCount1 {
        padding: 10px;
        @include fontSize($h14);
        font-weight: 500;
        color: $black;

        >span {
            font-weight: normal;
        }
    }
}


//WordFrequency
#wordFrequency {
    height: auto !important;
    max-height: 600px !important;
    padding: 15px;
    
    .frequency {
        td {
            @include fontSize($h12);
            font-weight: 500;
            color: $black;
            border: 0;
        }
    }
}




/*--------------Article------------------*/

//article title
.wct-feat-article {
    .wpcap-grid-container {

    }
    
    article {
        .post-grid-thumbnail {
            margin: 0;
            width: 100%;
            height: 270px;
            @include displayflex();
            align-items: center;
            justify-content: center;
            overflow: hidden;

            >a {
                width: 100%;
                height: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .post-grid-text-wrap {
            .title {
                text-align: left;
                @include fontSize($h22);
                color: $black;
                font-weight: 500;
            }

            .post-grid-meta {
                text-align: left;
                @include fontSize($h13);
                color: #707070;

                span {
                    &:nth-of-type(1) {
                        //@include displayIcon(15px);
                    }

                    &:nth-of-type(2) {
                        //@include displayIcon(15px);
                    }
                }
            }
        }
    }
}



/*--------------Sidebar------------------*/
//Recent articles
.wct-recent-articles {
    border-bottom: 1px solid #ccc;

    .thumbnail-box-in {
        @include displayflex();
        
        >a {
            @include flexBasis(40%);
            height: 85px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin: 0 !important;
            }
        }

        .caption {
            @include flexBasis(60%);
            padding-left: 15px;
            
            a {
                @include fontSize($h16);
                color: $black;
                font-weight: 500;
            }

            h5 {
                @include fontSize($h16);
                color: $black;
                font-weight: 500;
            }
        }
    }
}

.wct-faq-container {
    padding: 20px;
    background-color: $grey-light;

    p {
        @include fontSize($h15);
        line-height: 1.4;
        color: $black;
    }
}


//About
.elementor-element-811ee08 {
    margin-top: 35px;
}

.wct-about {
    p {
        @include fontSize($h15);
        line-height: 1.4;
        color: $black;
    }
}