#pre-header-core, #header-core, #content-core, #footer-core, #sub-footer-core, #sub-footer-widgets, #sub-footer-close, #notification-core, #intro-core, #introaction-core, #outroaction-core, .wrap-safari {
    max-width: 100%;
}

div.elementor-column:first-child, div.elementor-column:last-child, .elementor-element-29870f8 > div {
    padding: 0 !important;
}


.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
    @include mediaWidth($ipad) {
        padding: $mobile-padding;
    }
}