//Color
$blue : #5ed6e3;
$black : #222222;
$black_2 : #333439;
$grey-light: #f3f3f3;
$grey-normal: #ccc;
$topheader-grey: #afb2b8;

//Media Size
$mobile: 426px;
$ipad: 768px;
$desktop: 1200px;

//Size
$desktop-padding: 10px;
$mobile-padding: 15px;


//Font
$family : 'Roboto', sans-serif;

//Font Size
$h10 : 1rem;
$h11 : 1.1rem;
$h12 : 1.2rem;
$h13 : 1.3rem;
$h14 : 1.4rem;
$h15 : 1.5rem;
$h16 : 1.6rem;
$h17 : 1.7rem;
$h18 : 1.8rem;
$h19 : 1.9rem;
$h20 : 2rem;
$h21 : 2.1rem;
$h22 : 2.2rem;
$h23 : 2.3rem;
$h24 : 2.4rem;
$h25 : 2.5rem;
$h26 : 2.6rem;
$h27 : 2.7rem;
$h28 : 2.8rem;
$h29 : 2.9rem;
$h30 : 3rem;
$h32 : 3.2rem;
$h34 : 3.4rem;
$h36 : 3.6rem;

